doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(type="application/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        script(type="application/javascript", src="http://code.highcharts.com/highcharts.js")
        script(type="application/javascript", src="/javascripts/dashboard.js")

    body
        div
            h1= title
            form(class='form-horizontal', action='/create/review', method='post')
                input(type='text' class='form-control' placeholder='Game Title' name='game')
                input(type='text' class='form-control' placeholder='Reviewing Company' name='company')
                input(type='text' class='form-control' placeholder='Game Rating' name='score')
                br
                button(type='submit' class='btn btn-default') Submit

            br
            p Type the name of the game in the first Text box. Type the company who reviewed the game in the second text box. Give the game a rating from 1-100 in the second text box.

        div(id='containertwo')
        div(id='containerthree')
            div(id='piecontainer')
            select(class='form-control' id='playeroption')
                option Mitchell
                option Zac
                option pull from db...
            img(src='imgs/reviews.jpg')
        div(id='containerfour')
            div(id='scatterplotcontainer')
            p This will contain relevant data soon...