body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-control {
  width: 200px;
}
.btn-default {
  background: aliceblue;
}

img {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}